:hover
#f5d76e color for hover menu rgb 245 215 110

btn coloc #39312e shadow

width: 232px;
height: 54px;
background-color: rgba(57,49,46,0);
border: 2px solid #39312f;


photo place holder 
width: 84px;
height: 84px;
border-radius: 42px;
background-color: #ebebeb;


slider button:
width: 9px;
height: 9px;
border-radius: 5px;
background-color: #ebebeb;
border: 1px solid #ebebeb;

bg color for terminal
width: 1270px;
height: 425px;
background-color: #39312f;



footer 
width: 1300px;
height: 321px;
background-color: #39312f;